<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
    crossorigin="anonymous"
  />

  <style media="all">
    main { padding-bottom: 3rem; }
    table > tbody > tr:last-child > td { border-bottom: none; }
  </style>

  <title><%= board[:title] %> | <%= datetime %></title>
</head>
<body class="d-flex flex-column h-100">
  <main class="flex-shrink-0">
    <!-- Header -->
    <div class="px-4 py-5 my-5 text-center">
      <div class="row justify-content-center row-cols-auto">
        <div class="col">
          <img
            class="d-block mx-auto mb-4"
            src="data:image/svg+xml,%3csvg width='168' height='60' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cpath id='a' d='M.49.378h2.133v19.817H.49z'/%3e%3cpath id='c' d='M0 .806h14.183v28.945H0z'/%3e%3c/defs%3e%3cg fill='none' fill-rule='evenodd'%3e%3cpath d='M74.983 13.358c0 .982-.345 1.74-1.025 2.251-.698.523-1.75.788-3.123.788h-2.863V10.37h2.863c1.327 0 2.369.247 3.095.732.709.477 1.053 1.214 1.053 2.257m.499-3.759h-.001c-.55-.408-1.214-.717-1.974-.915-.754-.197-1.603-.297-2.521-.297H67.03c-.834 0-1.293.46-1.293 1.293V25.6c0 .252.043.46.125.614.08.152.178.274.29.365.115.095.24.16.373.194.116.03.224.044.329.044.082 0 .183-.014.313-.043a.95.95 0 0 0 .386-.193c.115-.095.213-.218.292-.367.083-.155.126-.362.126-.615v-7.245h2.964c.919 0 1.772-.104 2.535-.309.774-.21 1.44-.523 1.985-.928a4.327 4.327 0 0 0 1.298-1.563c.307-.623.462-1.362.462-2.196 0-.834-.151-1.572-.45-2.193A4.202 4.202 0 0 0 75.482 9.6' fill='%231F2433'/%3e%3cg transform='translate(79 6.622)'%3e%3cmask id='b' fill='%23fff'%3e%3cuse xlink:href='%23a'/%3e%3c/mask%3e%3cpath d='M.908 19.994a1.228 1.228 0 0 0 .649.201 1.241 1.241 0 0 0 .65-.201 1 1 0 0 0 .29-.352 1.23 1.23 0 0 0 .126-.588V1.521c0-.24-.041-.433-.125-.59A1 1 0 0 0 2.206.58h-.002a1.1 1.1 0 0 0-.345-.156 1.022 1.022 0 0 0-.607 0A1.158 1.158 0 0 0 .907.58a.988.988 0 0 0-.292.35 1.249 1.249 0 0 0-.124.59v17.532c0 .24.04.432.124.59a.949.949 0 0 0 .293.35' fill='%231F2433' mask='url(%23b)'/%3e%3c/g%3e%3cpath d='M92.202 20.747v.67c0 .495-.08.97-.24 1.417-.158.443-.39.84-.69 1.179-.296.335-.67.605-1.11.803-.442.197-.955.297-1.528.297-.32 0-.639-.036-.948-.108a2.574 2.574 0 0 1-.826-.348 1.74 1.74 0 0 1-.574-.622c-.142-.251-.213-.572-.213-.954 0-.497.16-.882.485-1.18.344-.312.796-.556 1.343-.723a9.266 9.266 0 0 1 1.895-.343 26.01 26.01 0 0 1 2.112-.088h.294zm1.86 5.816c.198-.176.298-.432.298-.761 0-.056-.004-.13-.014-.224a4.653 4.653 0 0 0-.038-.286 6.204 6.204 0 0 1-.062-.67 24.466 24.466 0 0 1-.01-.836v-5.163c0-.747-.126-1.41-.373-1.973a3.82 3.82 0 0 0-1.039-1.413 4.463 4.463 0 0 0-1.53-.832 6.133 6.133 0 0 0-1.854-.274c-.909 0-1.745.127-2.486.377-.744.25-1.354.583-1.813.988-.262.242-.395.506-.395.784 0 .279.09.504.27.67.36.337.8.33 1.346-.02.882-.626 1.858-.944 2.901-.944.965 0 1.705.236 2.2.699.49.46.74 1.18.74 2.139v.169c-.996.005-1.977.043-2.918.112-1.014.078-1.926.25-2.709.516-.805.272-1.458.69-1.94 1.244-.496.566-.746 1.336-.746 2.29 0 .692.141 1.286.418 1.769.274.477.624.873 1.042 1.175.412.297.876.516 1.38.649.492.129.98.195 1.45.195.986 0 1.844-.181 2.552-.54.576-.29 1.108-.74 1.585-1.336.013.239.034.477.063.71.061.445.206.726.444.86.21.122.396.18.571.18a.975.975 0 0 0 .667-.254zM97.194 16.29c.008.183.012.354.012.52v8.866c0 .235.043.434.126.59a.953.953 0 0 0 .638.507c.229.059.371.059.606 0 .123-.03.239-.083.347-.157.109-.077.207-.195.291-.35.083-.158.126-.356.126-.59v-5.29c0-.765.097-1.433.29-1.984.192-.55.449-1.01.765-1.366a3.037 3.037 0 0 1 1.072-.79 3.1 3.1 0 0 1 1.24-.26c.587 0 1.076.095 1.457.282.374.183.678.443.9.772.227.337.39.747.484 1.222.098.484.147 1.038.147 1.646v5.768c0 .235.043.434.126.59a.975.975 0 0 0 .292.35 1.234 1.234 0 0 0 .649.201c.085 0 .187-.014.302-.044.124-.03.24-.083.346-.157a.963.963 0 0 0 .293-.35c.083-.158.125-.356.125-.59v-6.473c0-1.505-.394-2.737-1.17-3.662-.786-.936-1.971-1.41-3.523-1.41-.873 0-1.713.224-2.496.67a4.308 4.308 0 0 0-1.399 1.222l-.026-.675c0-.237-.045-.43-.132-.578a1.301 1.301 0 0 0-.275-.317.822.822 0 0 0-.358-.17 1.095 1.095 0 0 0-.572.02 1.06 1.06 0 0 0-.328.155.9.9 0 0 0-.282.343 1.197 1.197 0 0 0-.111.547c0 .104.005.242.013.413l.025.529zM120.875 15.272a.974.974 0 0 0-.305-.732c-.199-.189-.463-.284-.786-.284-.19 0-.38.058-.564.17-.192.118-.348.335-.462.644l-3.609 9.044-3.585-9.048c-.136-.33-.308-.552-.512-.659a1.17 1.17 0 0 0-.538-.15c-.323 0-.592.1-.799.296a.986.986 0 0 0-.318.744c0 .16.038.341.118.562l4.156 9.872c.186.45.423.747.705.887.262.132.514.2.748.2.232 0 .484-.067.748-.198.284-.142.514-.433.705-.888l4.185-9.935c.075-.205.113-.382.113-.525M124.892 14.458a1.057 1.057 0 0 0-.348-.157 1.016 1.016 0 0 0-.603 0c-.126.03-.243.084-.347.157a.954.954 0 0 0-.293.35 1.244 1.244 0 0 0-.125.59v10.278c0 .235.042.434.125.59a.963.963 0 0 0 .293.35 1.24 1.24 0 0 0 .648.201c.084 0 .187-.014.305-.044.125-.032.241-.085.346-.157a.995.995 0 0 0 .29-.35c.083-.156.126-.355.126-.59V15.398c0-.236-.043-.434-.126-.588a.993.993 0 0 0-.291-.352M124.242 11.528c.355 0 .682-.133.972-.394.296-.266.447-.612.447-1.025 0-.415-.151-.759-.447-1.024-.58-.525-1.361-.523-1.944 0a1.32 1.32 0 0 0-.446 1.024c0 .412.149.757.446 1.025.29.261.618.394.972.394M129.83 19.42c.05-.395.162-.78.336-1.147a4.015 4.015 0 0 1 2.06-1.988 3.767 3.767 0 0 1 1.504-.3c1.159 0 2.06.347 2.679 1.029.582.639.919 1.449 1.003 2.407h-7.582zm-.458 5.696a5.883 5.883 0 0 0 1.998 1.345 6.498 6.498 0 0 0 2.511.482 6.75 6.75 0 0 0 2.614-.506 5.952 5.952 0 0 0 2.13-1.531c.119-.137.2-.272.24-.398.042-.122.063-.234.063-.344 0-.3-.107-.54-.315-.714a1.022 1.022 0 0 0-.677-.251c-.295 0-.568.134-.813.4-.317.366-.75.707-1.281 1.013-.52.299-1.18.45-1.96.45a3.977 3.977 0 0 1-1.604-.322 4.159 4.159 0 0 1-1.296-.876 3.968 3.968 0 0 1-.861-1.293 4.333 4.333 0 0 1-.326-1.371h8.646c.736 0 1.142-.386 1.142-1.091 0-.893-.14-1.715-.416-2.443a5.46 5.46 0 0 0-1.194-1.886 5.394 5.394 0 0 0-1.846-1.218c-.713-.287-1.52-.431-2.396-.431-.863 0-1.68.162-2.426.482a6.05 6.05 0 0 0-1.957 1.345 6.214 6.214 0 0 0-1.304 2.032 6.836 6.836 0 0 0-.468 2.547c0 .915.163 1.772.482 2.549a6.38 6.38 0 0 0 1.315 2.03zM157.875 14.537a1.11 1.11 0 0 0-.77-.28c-.188 0-.38.055-.57.166-.21.122-.362.346-.462.686l-2.604 8.5-2.842-8.358c-.157-.427-.356-.695-.608-.822-.462-.23-.837-.228-1.296 0-.253.127-.45.397-.608.827l-2.79 8.35-2.628-8.494c-.099-.337-.26-.57-.478-.69a1.162 1.162 0 0 0-.555-.165c-.299 0-.56.088-.775.26-.227.186-.342.449-.342.78 0 .14.028.295.085.469l3.25 9.919c.073.242.17.44.288.588.12.149.241.259.37.337.13.08.258.134.39.165.123.029.233.042.336.042.197 0 .426-.058.704-.18.3-.137.528-.455.68-.946l2.697-8.215 2.747 8.21c.074.247.17.439.287.584a1.345 1.345 0 0 0 .759.505c.126.029.236.042.338.042.191 0 .42-.057.681-.172l.022-.008c.3-.137.53-.455.681-.946l3.243-9.911c.042-.104.068-.206.077-.31.01-.093.014-.161.014-.198a.95.95 0 0 0-.32-.735M76.133 49.858a.875.875 0 0 0-.334-.273 1.176 1.176 0 0 0-.539-.11h-7.395V34.317c0-.492-.147-.824-.437-.985-.514-.286-.801-.287-1.317 0-.293.161-.44.493-.44.985v15.878c0 .833.44 1.273 1.273 1.273h8.316c.444 0 .742-.135.886-.402.125-.23.187-.426.187-.595 0-.088-.016-.186-.045-.288a1.024 1.024 0 0 0-.154-.325M82.396 40.842c1.16 0 2.063.346 2.684 1.029.587.646.924 1.462 1.005 2.428h-7.598c.049-.404.163-.797.34-1.17a4.1 4.1 0 0 1 .84-1.175 3.99 3.99 0 0 1 1.222-.815 3.781 3.781 0 0 1 1.507-.297m4.22-.178a5.373 5.373 0 0 0-1.837-1.212c-.706-.283-1.509-.428-2.383-.428-.86 0-1.672.161-2.412.48a5.949 5.949 0 0 0-1.946 1.337 6.179 6.179 0 0 0-1.298 2.021 6.792 6.792 0 0 0-.467 2.535c0 .907.162 1.76.48 2.535a6.36 6.36 0 0 0 1.309 2.02 5.89 5.89 0 0 0 1.987 1.34 6.477 6.477 0 0 0 2.497.478c.926 0 1.801-.17 2.6-.505a5.918 5.918 0 0 0 2.12-1.523 1.08 1.08 0 0 0 .298-.728.87.87 0 0 0-.308-.699c-.423-.355-1.015-.34-1.463.147-.32.367-.751.708-1.282 1.013-.52.301-1.18.453-1.965.453a4 4 0 0 1-1.606-.323 4.194 4.194 0 0 1-1.297-.877 4.02 4.02 0 0 1-.863-1.296 4.353 4.353 0 0 1-.327-1.39h8.641c.724 0 1.123-.382 1.123-1.072 0-.89-.139-1.709-.415-2.43a5.395 5.395 0 0 0-1.186-1.877M97.646 45.59h.31v.686c0 .493-.08.97-.24 1.417a3.582 3.582 0 0 1-.693 1.181 3.223 3.223 0 0 1-1.113.807c-.688.306-1.599.393-2.479.188a2.528 2.528 0 0 1-.83-.349 1.795 1.795 0 0 1-.579-.623c-.14-.255-.213-.578-.213-.962 0-.502.16-.89.49-1.19.345-.314.798-.557 1.346-.724a9.18 9.18 0 0 1 1.893-.345 25.89 25.89 0 0 1 2.108-.087m2.376 4.555a6.545 6.545 0 0 1-.062-.67 24.78 24.78 0 0 1-.01-.835v-5.153c0-.741-.125-1.401-.369-1.96a3.784 3.784 0 0 0-1.033-1.402 4.439 4.439 0 0 0-1.522-.828 6.065 6.065 0 0 0-1.843-.273c-.905 0-1.737.127-2.473.375-.742.25-1.347.58-1.802.983-.258.237-.39.496-.39.77 0 .271.09.492.263.655.322.303.734.358 1.323-.02.883-.628 1.86-.944 2.904-.944.965 0 1.707.235 2.204.7.494.462.743 1.184.743 2.146v.185a41.657 41.657 0 0 0-2.924.113c-1.007.077-1.914.25-2.698.512-.799.27-1.448.686-1.93 1.238-.49.56-.738 1.326-.738 2.275 0 .683.14 1.273.415 1.752.272.476.62.867 1.034 1.166.411.298.872.515 1.37.645.491.13.976.197 1.443.197.981 0 1.834-.181 2.537-.537.584-.294 1.122-.753 1.604-1.364.013.254.034.506.065.754.06.435.202.712.435.843.507.293.9.208 1.216-.072.193-.173.291-.424.291-.748 0-.054-.005-.127-.014-.22a4.418 4.418 0 0 0-.039-.283M108.842 39.023a4.98 4.98 0 0 0-2.481.666c-.596.337-1.071.758-1.42 1.256l-.026-.725c0-.232-.043-.423-.13-.566a1.258 1.258 0 0 0-.27-.312.798.798 0 0 0-.35-.165 1.098 1.098 0 0 0-.563.017 1.035 1.035 0 0 0-.322.153.888.888 0 0 0-.277.335 1.21 1.21 0 0 0-.108.538c0 .104.005.241.014.412l.025.527c.008.182.012.354.012.52v8.843c0 .231.04.428.123.581a.972.972 0 0 0 .286.344c.103.071.218.123.34.153.227.06.364.06.597 0 .12-.03.235-.082.34-.154a.964.964 0 0 0 .284-.343c.083-.154.125-.35.125-.58v-5.277c0-.764.097-1.432.289-1.985.192-.55.45-1.01.767-1.367.314-.353.675-.62 1.074-.793a3.14 3.14 0 0 1 1.244-.26c.586 0 1.077.094 1.46.281.378.185.683.447.905.777.228.338.39.75.485 1.225a8.37 8.37 0 0 1 .148 1.645v5.753c0 .231.04.428.123.581a.99.99 0 0 0 .285.344 1.247 1.247 0 0 0 .639.197c.084 0 .184-.015.297-.044.123-.03.237-.082.34-.153a.969.969 0 0 0 .287-.345c.082-.155.123-.349.123-.58v-6.457c0-1.495-.392-2.72-1.164-3.64-.78-.929-1.958-1.402-3.501-1.402M120.604 41.563l7.723-6.543c.2-.16.324-.322.378-.494.048-.154.073-.28.073-.385 0-.286-.1-.53-.297-.727a1.027 1.027 0 0 0-.75-.295c-.107 0-.229.024-.377.073a1.441 1.441 0 0 0-.48.303l-8.473 7.573v-6.75c0-.493-.148-.825-.439-.986-.514-.286-.8-.288-1.317 0-.29.161-.439.493-.439.985v16.13c0 .252.04.451.123.604.078.148.174.27.287.362a.934.934 0 0 0 .363.187c.21.054.36.064.631.001a.945.945 0 0 0 .381-.188c.111-.09.207-.213.286-.362.082-.153.124-.357.124-.605V42.25l8.84 8.961c.288.288.587.434.89.434.336 0 .617-.106.836-.316.223-.212.337-.493.337-.83 0-.303-.145-.603-.435-.893l-8.265-8.042zM131.195 33.985a1.302 1.302 0 0 0-.442 1.011c0 .407.149.746.442 1.01.286.257.608.388.958.388.348 0 .67-.13.958-.388a1.31 1.31 0 0 0 .44-1.01c0-.407-.148-.747-.441-1.01-.574-.518-1.345-.515-1.916 0M132.79 39.348a.995.995 0 0 0-.342-.156 1.022 1.022 0 0 0-.595.001.994.994 0 0 0-.34.155.965.965 0 0 0-.285.343 1.221 1.221 0 0 0-.124.58v10.251c0 .231.042.428.124.581a.988.988 0 0 0 .285.344 1.247 1.247 0 0 0 .639.197c.084 0 .184-.015.297-.044.123-.03.237-.082.34-.153a.966.966 0 0 0 .286-.345c.082-.155.124-.35.124-.58v-10.25a1.23 1.23 0 0 0-.124-.58.92.92 0 0 0-.285-.344M141.945 49.55c-.105 0-.24.028-.424.09a1.753 1.753 0 0 1-.657.138c-.457 0-.816-.127-1.1-.39-.276-.253-.415-.783-.415-1.578v-6.668h2.495c.408 0 .684-.122.821-.36.118-.207.176-.381.176-.536 0-.17-.058-.352-.176-.56-.137-.24-.413-.361-.82-.361h-2.496v-2.37a1.25 1.25 0 0 0-.123-.582.984.984 0 0 0-.286-.343 1.025 1.025 0 0 0-.34-.155 1.026 1.026 0 0 0-.597.001 1.03 1.03 0 0 0-.34.155.983.983 0 0 0-.285.343 1.227 1.227 0 0 0-.123.58v2.37h-1.616c-.407 0-.683.122-.822.364-.117.206-.175.39-.175.557 0 .154.058.328.176.538.138.239.414.36.821.36h1.616v7.143c0 .678.103 1.24.308 1.666a2.8 2.8 0 0 0 .797 1.023 2.7 2.7 0 0 0 1.054.512 4.51 4.51 0 0 0 1.05.133c.306 0 .611-.021.907-.066.307-.046.553-.111.753-.203.275-.117.456-.26.555-.432a.97.97 0 0 0 .138-.472c0-.27-.083-.489-.246-.65a.85.85 0 0 0-.626-.246' fill='%231F2433'/%3e%3cpath d='M49.09 16.055L32.254 7.637a3.616 3.616 0 0 0-3.216-.009l-14.241 7.028-2.239 1.137a3.613 3.613 0 0 1 3.213.024l7.997 3.556.397.157v-.002l.016.008.002.001 19.282 10.03L24.06 39.63l-.189.066-8.203 4.29a3.618 3.618 0 0 1-3.214.023l-.412-.2-.024.008 16.85 8.425a3.622 3.622 0 0 0 3.234 0l16.945-8.473a3.616 3.616 0 0 0 1.998-3.234v-7.026l.043.024V19.288a3.614 3.614 0 0 0-1.998-3.233' fill='%23A5A7AD'/%3e%3cg transform='translate(10 14.622)'%3e%3cmask id='d' fill='%23fff'%3e%3cuse xlink:href='%23c'/%3e%3c/mask%3e%3cpath d='M13.768 4.751L5.772 1.194a3.618 3.618 0 0 0-3.214-.023l-.423.206c-.038.02-.072.043-.11.063l-.007-.002A3.614 3.614 0 0 0 0 4.681v21.25c0 1.382.789 2.643 2.032 3.25l.423.205a3.613 3.613 0 0 0 3.213-.024l8.306-4.343.209-20.104-.415-.164z' fill='%234C505C' mask='url(%23d)'/%3e%3c/g%3e%3cpath d='M147.313 34.61c.206 0 .24.15.24.22 0 .067-.034.218-.24.218h-1.434v4.192c0 .233-.165.275-.247.275-.082 0-.247-.042-.247-.275v-4.192h-1.434c-.206 0-.24-.15-.24-.219s.034-.22.24-.22h3.362zM152.568 39.515c-.082 0-.247-.042-.247-.275v-3.56h-.014l-1.584 3.622c-.076.178-.213.213-.302.213-.09 0-.227-.035-.302-.213l-1.585-3.602h-.014v3.54c0 .233-.164.275-.247.275-.082 0-.247-.042-.247-.275v-4.343c0-.28.199-.336.302-.336.103 0 .233.034.336.267l1.764 4.028h.006l1.743-4.028c.103-.233.233-.267.336-.267.103 0 .302.055.302.336v4.343c0 .233-.165.275-.247.275' fill='%231F2433'/%3e%3c/g%3e%3c/svg%3e"
          />
        </div>
      </div>
      <h1 class="display-5 fw-bold">
        <%= board[:title] %> Summary
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          <%= datetime %>
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a
            href="https://icn.leankit.com/board/<%= board[:id] %>"
            target="_blank"
            class="btn btn-primary btn-lg px-4 gap-3"
          >
            View on LeanKit
          </a>
        </div>
      </div>
    </div>
    <!-- End Header -->

    <!-- Sections -->
    <div class="container">
      <div class="accordion" id="lanes">
        <!-- Lanes -->
        <% lanes.each do |lane| %>
          <% heading = "heading-#{lane[:id]}" %>
          <% collapsible = "collapsible-#{lane[:id]}" %>
          <% cards = lane[:cards] %>

          <div class="accordion-item">
            <h2 class="accordion-header" id="<%= heading %>">
              <button
                class="accordion-button collapsed bg-light"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#<%= collapsible %>"
                aria-expanded="false"
                aria-controls="<%= collapsible %>"
              >
                <span
                  class="badge bg-dark me-2 text-center"
                  style="width: 30px"
                >
                  <%= cards.size %>
                </span>
                <span><%= lane[:name] %></span>
                <span
                  class="position-absolute top-0 end-0 my-3 me-5"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Lane ID: <%= lane[:id] %>"
                >
                  <i
                    style="width: 13px; height: 13px;"
                    data-feather="info"
                  ></i>
                </span>
              </button>
            </h2>
            <div
              id="<%= collapsible %>"
              class="accordion-collapse collapse"
              data-bs-parent="#lanes"
            >
              <div class="accordion-body">
                <!-- Cards Table -->
                <table class="table align-middle">
                  <thead>
                    <tr>
                      <th style="width: 100px" class="text-center">Header</th>
                      <th style="width: 100px" class="text-center">PR</th>
                      <th style="width: 10px">Weeks</th>
                      <th style="width: 10px">Tasks</th>
                      <th>Title</th>
                      <th style="width: 300px">Assignees</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Cards -->
                    <% cards.each do |card| %>
                      <% tasks = card[:tasks] %>
                      <% tasksModalTarget = "tasks-#{card[:id]}-modal" %>
                      <tr>
                        <td class="text-center">
                          <i
                            data-feather="hash"
                            width="14px"
                            height="14px"
                            style="position: relative; top: -3px"
                          ></i>
                          <a
                            href="<%= card[:leankit_url] %>"
                            target="_blank"
                          >
                            <%= card[:header] %>
                          </a>
                        </td>
                        <td class="text-center">
                          <% if card[:pull_request].present? %>
                            <i
                              data-feather="git-pull-request"
                              width="14px"
                              height="14px"
                              style="position: relative; top: -3px"
                            ></i>
                            <a
                              href="<%= card[:pull_request][:url] %>"
                              target="_blank"
                            >
                              <%= card[:pull_request][:number] %>
                            </a>
                          <% else %>
                            -
                          <% end %>
                        </td>
                        <td class="text-center"><%= card[:weeks_stale] %></td>
                        <td>
                          <!-- Tasks -->
                          <% if tasks.size > 0 %>
                            <!-- Tasks Modal Button -->
                            <button
                              type="button"
                              class="btn btn-info btn-sm text-white"
                              style="width: 100%; padding: 1px"
                              data-bs-toggle="modal"
                              data-bs-target="#<%= tasksModalTarget %>"
                            >
                              <%= tasks.size %>
                            </button>
                            <!-- End Tasks Modal Button -->

                            <!-- Tasks Modal -->
                            <div
                              class="modal"
                              id="<%= tasksModalTarget %>"
                              tabindex="-1"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Tasks of <%= card[:title] %></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <!-- Tasks Table -->
                                    <table class="table table-sm align-middle" style="zoom: .9">
                                      <thead>
                                        <tr>
                                          <th style="width: 100px;" class="text-center">Header</th>
                                          <th style="width: 100px;" class="text-center">PR</th>
                                          <th style="width: 10px;">Weeks</th>
                                          <th>Title</th>
                                          <th class="text-center">Status</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% card[:tasks].each do |task| %>
                                          <tr>
                                            <td class="text-center">
                                              <i
                                                data-feather="hash"
                                                width="14px"
                                                height="14px"
                                                style="position: relative; top: -3px"
                                              ></i>
                                              <a
                                                href="<%= task[:leankit_url] %>"
                                                target="_blank"
                                              >
                                                <%= task[:header] %>
                                              </a>
                                            </td>
                                            <td class="text-center">
                                              <% if task[:pull_request].present? %>
                                                <i
                                                  data-feather="git-pull-request"
                                                  width="14px"
                                                  height="14px"
                                                  style="position: relative; top: -3px"
                                                ></i>
                                                <a
                                                  href="<%= task[:pull_request][:url] %>"
                                                  target="_blank"
                                                >
                                                  <%= task[:pull_request][:number] %>
                                                </a>
                                              <% else %>
                                                -
                                              <% end %>
                                            </td>
                                            <td class="text-center"><%= task[:weeks_stale] %></td>
                                            <td><%= task[:title] %></td>
                                            <td class="text-center" style="width: 100px">
                                              <span
                                                class="badge bg-<%= task[:status][:style] %> me-2 text-center"
                                                style="width: 100%"
                                              >
                                                <%= task[:status][:label] %>
                                              </span>
                                            </td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                    <!-- End Tasks Table -->
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- End Tasks Modal -->
                          <% else %>
                            <div class="text-center">-</div>
                          <% end %>
                          <!-- End Tasks -->
                        </td>
                        <td><%= card[:title] %></td>
                        <td><%= card[:assignees] %></td>
                      </tr>
                    <% end %>
                    <!-- End Cards -->
                  </tbody>
                </table>
                <!-- End Cards Table -->
              </div>
            </div>
          </div>
        <% end %>
        <!-- End Lanes -->
      </div>
    </div>
    <!-- End Sections -->
  </main>

  <footer class="footer mt-auto py-5">
    <div class="container text-center">
      <a
        href="https://github.com/ricardobucho/leankit-summary"
        target="_blank"
        class="text-dark"
      >
        <i data-feather="github"></i>
      </a>
    </div>
  </footer>

  <script src="https://unpkg.com/feather-icons"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"
  ></script>

  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));

    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });

    feather.replace();
  </script>
</body>
</html>
